@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:hissa_font;
	src: url("hissa_font.ttf");
}
@font-face{
	font-family:hissa_fontb;
	src: url("hissa_fontb.ttf");
}
body{
	width:100%;
	margin-top:0px;
	margin-left:0px;
background: #fafafa;
}
#header{
background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,160,191,1) 0%, rgba(58,150,180,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,160,191,1)), color-stop(100%, rgba(58,150,180,1)));
background: -webkit-linear-gradient(top, rgba(58,160,191,1) 0%, rgba(58,150,180,1) 100%);
background: -o-linear-gradient(top, rgba(58,160,191,1) 0%, rgba(58,150,180,1) 100%);
background: -ms-linear-gradient(top, rgba(58,160,191,1) 0%, rgba(58,150,180,1) 100%);
background: linear-gradient(to bottom, rgba(58,160,191,1) 0%, rgba(58,150,180,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	width: 100%;
	height:50px;
	/*border:#006e2e 1px solid;*/
	border-radius:0px 0px 2px 2px;
	z-index:10;
	margin-bottom: 0px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.9);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.9);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.9);
width: 1366px;
position: fixed;
}
.logo{
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,150,180,1) 0%, rgba(58,140,170,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,140,170,1)), color-stop(100%, rgba(58,140,170,1)));
background: -webkit-linear-gradient(top, rgba(58,150,180,1) 0%, rgba(58,140,170,1) 100%);
background: -o-linear-gradient(top, rgba(58,150,180,1) 0%, rgba(58,140,170,1) 100%);
background: -ms-linear-gradient(top, rgba(58,150,180,1) 0%, rgba(58,140,170,1) 100%);
background: linear-gradient(to bottom, rgba(58,150,180,1) 0%, rgba(58,140,170,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
	display:inline-block;
	box-shadow:#000 #000 10px -1px 5px;
	
border-right:#ccc 1px solid;
/*border-right:#060 solid 2px;*/
}
#btns{
	z-index:11;
	position:relative;
	bottom: 1.1em;
	left: 1%;
	display: inline-block;
}
#btn{
	margin-right:6em;
	width:5.5em;
	height:3em;
	color:#FFF;
	border:1px solid #38788c;
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,143,173,1)), color-stop(100%, rgba(58,130,160,1)));
background: -webkit-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -o-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -ms-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: linear-gradient(to bottom, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
	font-family:hissa_fontb;
	border-radius:3px;
}
#btn:hover{
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,130,160,1)), color-stop(100%, rgba(58,143,173,1)));
background: -webkit-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -o-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -ms-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: linear-gradient(to bottom, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
}
#btn:focus{
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,130,160,1)), color-stop(100%, rgba(58,143,173,1)));
background: -webkit-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -o-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -ms-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: linear-gradient(to bottom, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
}
#btn>span{
	font-size:120%;
}
#btnn{
	margin-right:6em;
	width:2.7em;
	height:2.7em;
	margin-top: 0.2em;
	color:#FFF;
	border:1px solid #38788c;
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,143,173,1)), color-stop(100%, rgba(58,130,160,1)));
background: -webkit-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -o-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: -ms-linear-gradient(top, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
background: linear-gradient(to bottom, rgba(58,143,173,1) 0%, rgba(58,130,160,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
	font-family:hissa_fontb;
	border-radius:0px 5px 5px 0px;
	padding: 0.7em;
	padding-top: 0.4em;
	cursor: pointer;
}
#btnn:hover{
	background: rgba(22,168,181,1);
background: -moz-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,130,160,1)), color-stop(100%, rgba(58,143,173,1)));
background: -webkit-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -o-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: -ms-linear-gradient(top, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
background: linear-gradient(to bottom, rgba(58,130,160,1) 0%, rgba(58,143,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8b5', endColorstr='#14929e', GradientType=0 );
}
#btnn>span{
	font-size: 120%;
}
#panel1{
	width:10em;
	height:0px;
	background:#FFF;
	border-radius:0px 0px 2px 2px;
	transition: height 0.1s ease-out 0s;
	overflow:hidden;
	position:fixed;
	top: 3.2em;
	left:12em;
	z-index: 100;
	padding-left: 0.1em;
	padding-right: 0.1em;
	
	
}
#panel2{
	width:10em;
	height:0px;
	background:#fff;
	border-radius:0px 0px 3px 3px;
	transition: height 0.1s ease-in 0s;
	overflow:hidden;
	position:absolute;
	left:23.5em;
}
select{
	border:1px solid #066;
	margin-left:10%;
	width:80%;
	border-radius:3px;
	height:1.5em;
	color:#333;
	background:#FFF;
	font-family:hissa_fontb;
	font-size:0.8em;
	box-decoration-break:slice;
	margin-bottom:0.6em;
}
option:hover{
	background:#CCC;
}
.tri_title{
	font-family:hissa_fontb;
	font-size:1.1em;
	position:relative;
	top:0.5em;
	margin-left:1em;
	color:#066;
	margin-bottom:3em;
}
label{
	font-family:hissa_fontb;
	font-size:0.8em;
	margin-left:0.5em;
	color:#333;
	margin-bottom:0.5em;
}
.tri_content{
	position:relative;
	top:1em;
}
.tri_btn{
	border:#333 solid 1px;
	height:1.5em;
	background:#FFF;
	font-family:hissa_fontb;
	font-size:1.1em;
	border-radius:3px;
}
.tri_btn:hover{
	border:1px solid #999;
}
#sh_field{
	position: relative;
	bottom: 1.1em;
	left: 10%;
	display: inline-block;
}
#sh_field>input{
	width: 20em;
	height: 2.4em;
	border: 1px solid #388ea2;
	border-radius: 7px 0px 0px 7px;
	margin-right: 0em;
	font-family: hissa_fontb;
	padding-left: 0.5em;
	background: #f8f8f8;
}
#sh_field>span{
	position: relative;
	top: 2px;
	font-size: 1.1em;
	border: 1px solid white;
	position: relative;
	top: 0.1em;
	padding-right: 0.5em;
	border-radius: 3px;
	padding-left: 0.5em;
	margin-right: 0.5em;
	background:#066;
	padding-top: 0.4em;
	padding-bottom: 0.2em;
}
.menu_header{
	list-style: none;
	padding: 0px;
	font-family: hissa_fontb;
	font-size: 12px;
}
.menu_header>li{
	padding: 0.4em;
	margin-bottom: 0.5em;
}
.menu_header>li>a{
	text-decoration: none;
	color: black;
}
.menu_header>li:hover{
	background: #ccc;
	color: #007F8B;
}