@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:hissa_font;
	src: url("hissa_font.ttf");
}
.matieres{
	font-family:hissa_font;
	text-decoration:none;
	color:black;
	width:9em;
	padding-left:0.3em;
	font-size: 0.9em;
}
.matieres_position{
	position:relative;
	left:1.5em;
	margin-top:2px;
	background:inherit;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;

}
.group_titre{
	color: #666;
	padding-left: 1em;
	font-size: 0.8em;
	font-family: hissa_fontb;
	font-weight: 600;
	margin: 0px;
	margin-top: 0.7em;
	margin-bottom: 0.2em;
}
.group_titre2{
	color: #666;
	padding-left: 1em;
	font-size: 0.8em;
	font-family: hissa_fontb;
	font-weight: 600;
	margin: 0px;
	margin-top: 0.9em;
	margin-bottom: 0.4em;
}
.matieres:hover{
	background:rgba(0,0,0,0.05);
}
.titre_menu_left{
	font-size: 0.9em;
	font-family:hissa_fontb;
	color:black;
	padding-left:1.5em;
	color:#333;
	margin: 0px;
	margin-top: 0.2em;
	margin-right: 0.5em;
}
.titre_menu_left>a{
	color: black;
}
.titre_menu_left>a:hover{
	color: #49a5bf;
}
.body_menu_left{
	background: rgba(0,112,122,0.08);
background: -moz-linear-gradient(top, rgba(0,112,122,0.08) 0%, rgba(0,112,122,0.08) 9%, rgba(0,112,122,0.08) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,112,122,0.08)), color-stop(9%, rgba(0,112,122,0.08)), color-stop(100%, rgba(0,112,122,0.08)));
background: -webkit-linear-gradient(top, rgba(0,112,122,0.08) 0%, rgba(0,112,122,0.08) 9%, rgba(0,112,122,0.08) 100%);
background: -o-linear-gradient(top, rgba(0,112,122,0.08) 0%, rgba(0,112,122,0.08) 9%, rgba(0,112,122,0.08) 100%);
background: -ms-linear-gradient(top, rgba(0,112,122,0.08) 0%, rgba(0,112,122,0.08) 9%, rgba(0,112,122,0.08) 100%);
background: linear-gradient(to bottom, rgba(0,112,122,0.08) 0%, rgba(0,112,122,0.08) 9%, rgba(0,112,122,0.08) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00707a', endColorstr='#00707a', GradientType=0 );
}
a{
	text-decoration:none;
}
.matieres>span{
	font-family:hissa_font;
	color:black;
	float:right;
	font-size: 0.9em;
}
#arrow{
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
}
#arrow:hover{
	color: blue;
	cursor: default;
}
#ddd{
	display: none;
	position: relative;
}
#ccc{
	display: none;
	position: relative;
}
#arrow2{
	font-size: 1.2em;
	cursor: default;
	font-weight: bold;
	font-size: 1.2em;
}
#arrow2:hover{
	
	color: blue;
	cursor: default;

}
.t{
	width: 90%;
	display: inline-block;
	margin-bottom: 0px;
	padding: 0px;
}
#menu_left_principale{
	margin-top: -6px;
	width: 12.4em;
	display: inline-block;
	position: fixed;
	top: 3.5em;
	overflow: hidden;
	padding-bottom: 0.5em;
	border: 1px solid #C1C1C1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,e5e5e5+100 */
background: rgb(242,242,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
z-index: 50;
}
#arrow, #arrow2{
	color: #555;
}
#arrow:hover{
	color: #49a5bf;
}
#arrow2:hover{
	color: #49a5bf;
}
#menu_img{
	width: 1.1em;
	margin-right: 0.2em;
	border:1px solid #888;
	border-radius: 3px;
	position: relative;
	top: 0.3em;
	right: 0.1em;
}
